<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image: url('./assets/17.jpg');height: 700px;">
<div class="container" style="width: 100%">
	
  <div style="margin-top: 0px; padding-top: 2px;  color: white; width: 100%; height: 100px;">
  	
<h1 class="text-center" style="font-weight: bold; font-size: 35px; color: black ;font-family: cursive;">J A Y</h1>
<h5 class="text-center"><i style="color: black;font-weight: bold">we have two lives ,the second one starts when we realize we only have one</i></h5>
  </div>
  <div class="container" style="margin-left: 500px;margin-top: 200px">
    <a routerLink="/adminlogin"><button id="btn" class="inputb" style=" margin-top: 0px; color: black ">Admin Login</button></a><br>		
		<a routerLink="/userlogin"><button id="btn" class="inputb" style=" margin-top: 0px; color: black">User Login</button></a> <br>
		<a routerLink="/mentorlogin"><button id="btn" class="inputb"  style=" margin-top: 0px; color: black">Mentor Login</button></a><br>
		
 	</div>
	</div>



</body>

<style type="text/css">


.inputb
	{
	
		color:white;
		height: 40px;
		border: 1px solid white;
		width: 100px;
		border-radius: 18px;
		width: 300px;
		margin-bottom: 10px;
    background-color:white;
    font-size: 15px;
    font-weight: bold;
	}
	#btn:hover{
		
		background-color: #808080;

	}



</style>
<script type="text/javascript">
	function user()
	{
		location.href = "userlogin.html";
	}
	function mentor()
	{
		location.href = 'mentorlogin.html';
	}
	function admin()
	{
		location.href = 'adminlogin.html';
  }
 

</script>
<router-outlet></router-outlet>
</html>