
   <style>
     .button{
    display: block;
    width: 150px;
    height: 35px;
    background: black;
    padding: 10px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}
a:hover{
  background-color: blue;
}
#list{
  margin-left: -610px;
  margin-top: -170px;
}
#image{
  margin-left: 21px;
  margin-top: -250px;
}
   </style>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   </head>
 <body style="background-image: url('./assets/back.jpg'); height: 638px; margin: 0px;">
  <a routerLink="/mentorsearch"><button type="button" class="btn btn-default" style="float: left;margin-top: 15px; margin-left: 1000px;">
      <span class="glyphicon glyphicon-search"></span> Find Mentors & Technologies
    </button></a>
  <a class="button" style="float: left; margin-top: 10px; margin-left: 1150px; background-color: red; position: sticky; position: -webkit-sticky;" routerLink='/index'>Logout</a>
  <div style="padding-top: 250px; padding-left: 350px;">
  
   <a class="button" style="float: left; margin-right: 30px;" routerLink='/users'>List Users</a>
  
   <a class="button" style="float: left; margin-right: 30px;" routerLink='/trainings'>List Trainings</a>
   <a class="button" style="float: left; margin-right: 30px;" routerLink='/technologies'>List Technologies</a>
   
  </div>
</body>