<head>
  <title>User login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('./assets/18.jpg'); height: 656px;">
<div class="container">
   
     <form class="navbar-form navbar-right" >
       
        <a routerLink="/mentorsearch"><button type="button" class="btn btn-default" style="float: left;margin-top: 15px; margin-left: 1000px;">
            <span class="glyphicon glyphicon-search"></span> Find Mentors & Technologies
          </button></a>
    </form>
    <div style="width: 600px; margin-left: 250px;">
  <h2 class="text-center">User Login</h2>
  <p >Verify your credentials</p>
  
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" [(ngModel)]="user.email" class="form-control"  (input)="usr = $event.target.value"  id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" [(ngModel)]="user.password" (input)="pwd = $event.target.value"  class="form-control" id="pwd">
    </div>
    <input type="button" name="" (click)="searchUser()" style="width: 150px; margin-left: 230px;" class="btn btn-primary"  value="Log in"><br>
  
  <b>New user </b><a class="a" routerLink='/adduser' >Sign up here</a><br>
   
 
</div>
</div>
</body>
<style>
  .a{
      color:black;
      font-family: monospace;
      text-decoration: none;
      font-style: bold;
    }
  .a:hover
    {
      color:red;
      text-decoration: none;
    }
</style>